@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: $Very-light-gray-background-headings-buttons;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $Font-size;
    padding: 5rem 0;
}

#container {
    min-width: 320px;
    width: 90%;
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;

    img {
        width: 3.5rem;
    }

    &:nth-of-type(1) {
        background-color: $Bright-orange;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &:nth-of-type(2) {
        background-color: $Dark-cyan;
    }

    &:nth-of-type(3) {
        background-color: $Very-dark-cyan;
        border-radius: 0 0 0.5rem 0.5rem;
    }
}

h2 {
    font-family: $Famil-Big-Shoulders-Display;
    font-weight: 700;
    color: $Very-light-gray-background-headings-buttons;
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    font-family: $Famil-Lexend-Deca;
    font-weight: 400;
    color: $Transparent-white-paragraphs;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

button {
    border: none;
    padding: 0.8rem;
    width: 60%;
    border-radius: 2rem;
    font-family: $Famil-Lexend-Deca;
    font-weight: 400;
    &:nth-of-type(1) {
        color: $Bright-orange;
    }

    &:nth-of-type(2) {
        color: $Dark-cyan;
    }

    &:nth-of-type(3) {
        color: $Very-dark-cyan;
    }
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        padding: 0;
    }
    #container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        min-width: 750px;
        width: 90%;
        max-width: 850px;
    }

    section {
    
        &:nth-of-type(1) {
            border-radius: 0.5rem 0 0 0.5rem;
        }
    
        &:nth-of-type(3) {
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }

    p {
        height: 200px;
    }
}